body{
  text-align:center;
  font-family: Sans-serif;
  background-color: #fff;
}
.radio-toolbar input[type="radio"] {
  display: none;
}
.radio-toolbar label {
  display: inline-block;
  background-color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  color: #001;
  font-family: Sans-serif;
}
.radio-toolbar input[type="radio"]:checked+label {
  background-color: #001;
  color: #fff
}